* {
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}
body {
    margin: 0;
    color: #333333;
    background-color: #f0f4f8;
}

.page-container {
    max-width: 1100px;
    height: 50vh;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #e6ecf0;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 900px;
    max-height: none;
    
    display:flex;
    flex-direction:column;
    align-items: center;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f4f6f9;
    text-align: center;
    justify-content:center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ccc;
}

header{
    background-color: #1e3a5f !important;
}

.cadastro-retratil {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.3s ease;
    opacity: 0;
}

.cadastro-retratil.show {
    max-height: 500px; /* Valor alto o suficiente para caber o conteúdo */
    opacity: 1;
    margin-bottom: 20px;
}
